body{
    color: #711e03;
    font-size: 1.2rem;
}
nav{
    background-color: #fef7e2;
    border-radius: 70px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;
}

li{
    background-color:  #ffdf7f;
    border-radius: 30px;
    padding: 10px;
}

#shop{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
        
}

#logo{
    width: 50px;
    height: auto;
}
